@charset "UTF-8";

#all {
    position: relative;
    overflow: hidden;
}

.object-guide {
    position: absolute;
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    transition: border .1s ease-in-out;
}

.object-guide.active {
    border-color: #7ca8b9;
    cursor: move;
}

.object-guide.active .object-guide-corner {
    background-color: #7ca8b9;
}

.object-guide-corner {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: background .1s ease-in-out;
}

.object-guide.active .object-guide-corner.active {
    background-color: red;
}

.object-guide-corner.left-top {
    top: -7px;
    left: -7px;
    cursor: grab;
}

.object-guide-corner.right-top {
    top: -7px;
    right: -7px;
    cursor: grab;
}

.object-guide-corner.right-bottom {
    bottom: -7px;
    right: -7px;
    cursor: grab;
}

.object-guide-corner.left-bottom {
    bottom: -7px;
    left: -7px;
    cursor: grab;
}

.object-guide.active .object-guide-ui {
    display: block;
}

.object-guide-ui {
    display: none;
    position: absolute;
    cursor: pointer;
}

.object-guide-ui.delete {
    top: -40px;
    right: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #7ca8b9;
    cursor: pointer;
}

.object-guide-ui.delete:hover{
    background-color: red;
}

.object-guide-ui.rotate {
    top: -50px;
    left: 50%;
    width: 60px;
    height: 10px;
    margin-left: -30px;
    border-radius: 6px;
    background-color: #7ca8b9;
    cursor: grab;
}